<div> <h1>Transaction</h1></div>
<div>
    <% data["rows"].forEach(function(trx){ %>
        <li><%=trx.token%</li>
        <li><%=trx.price%></li>
        <li><%=trx.propertyid %></li>
        <li><%=trx.Date %></li>

    <% }) %>
</div>
<button><a href="/property/<%=propertyid%>">back</a></button>