<html>
    <head>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQn0q2syCPvpuTeKOp-pRCzkD086icmUY&callback=initMap">
    </script>
            </head>
            <body>
                    <nav>
                            <div class="nav-wrapper">
                              <a href="#" class="brand-logo">Estatics</a>
                              <ul id="nav-mobile" class="right hide-on-med-and-down">
                                    <li><a href="/property">Properties</a></li>
                                    <li><a href="/sell">Sell</a></li>
                                    <li><a href="/myproperties">My Properties</a></li>
                                    <li><a href="/transaction">Transaction</a></li>
                                <li><a href="/signin">SignOut</a></li>
                              </ul>
                            </div>
                        </nav>

<div class="center-align" style="margin-left: 250px; margin-right: 250px"> <h1>showing details</h1>
<div>
    <% foundinfo["rows"].forEach(function(property){ %>
        <li><%=property.name%></li>
        <li><%=property.place %></li>
        <li><%=property.cost %></li>
        <li><img src="/images/<%=property.imageurl%>"/></li>
    <% }) %>
</div>

<script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: -34.397, lng: 150.644}
      });
      var geocoder = new google.maps.Geocoder();

      document.getElementById('submit').addEventListener('click', function() {
        geocodeAddress(geocoder, map);
      });
    }

    function geocodeAddress(geocoder, resultsMap) {
      var address = document.getElementById('address').value;
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === 'OK') {
          resultsMap.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: resultsMap,
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>
        <div id="map" style="height:400px;width:500px"></div>
        <input id="address" type="textbox" value="<%=foundinfo.rows[0].place%>">
      <input id="submit" type="button" value="Geocode">
<form method="post" action="/buy">
    <input type="submit" value="buy">
</form>
<div>
        <h2>REVIEWS</h2>
        <% reviews["rows"].forEach(function(review){ %>
            <li><%=review.comment%></li>
            <% }) %>
    </div>
    <div>
        <h2>write a review</h2>
        <form method="post" action="/review">
        <input type="text" name="comment" placeholder="Review">
        <input type="submit" value="submit">
        </form>
    </div>
    
    <button type="button"><a href="/rent">rent</a></button>
    </div>
    </body>
    </html>
    